@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit|ie-stand">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/artdialog.css" rel="stylesheet" />
	<link href="~/Content/custom.css" rel="stylesheet" />
	<link href="~/Content/inner-custom.css" rel="stylesheet" />
	<link href="~/Areas/SellerAdmin/Content/business.css" rel="stylesheet" />
	@RenderSection("Styles", false)

	<script src="~/Scripts/jquery-1.7.1.min.js"></script>
	<script src="~/Scripts/jquery.form.js"></script>
	<script src="~/Scripts/jquery.artDialog.js"></script>
	<script src="~/Scripts/imitateRequire.js"></script>
	<script src="~/Scripts/artDialog.iframeTools.js"></script>
	<!--[if lt IE 9]>
	<script src="/Scripts/respond.min.js"></script>
	<![endif]-->
	<script src="~/Scripts/jquery.nicescroll.min.js"></script>
	<script src="~/Scripts/inner-custom.js"></script>
	<script src="~/Scripts/custom.js"></script>
	<script src="~/Scripts/CommonJS.js"></script>
	<script src="~/Scripts/jquery.cookie.js"></script>

	<script src="~/Areas/SellerAdmin/Scripts/SelleradminHome.js"></script>
	<title>卖家中心</title>
	<script>
		imitateRequireJS.addJsFile({
			group: 'common',
			fileNames: [
				{ nickName: 'jqueryCookie', fileName: 'jquery.cookie.js' },
				{ nickName: 'regionSelector', fileName: 'jquery-regionSelector.js' }
			]
		});
	</script>
	@RenderSection("HeadScript", false)
</head>
<body>
	@{Html.RenderAction("Top", "SellerPublic");}
	@RenderBody()
	@{Html.RenderAction("Bottom", "SellerPublic");}
	@RenderSection("Scripts", false)

	@Html.Partial("_ShowMessage")
	@Html.Partial("_SelectMenuItem")
    <script type="text/javascript">
        function refreshCartProducts() {
            $.post('/cart/GetCartProducts', {}, function (cart) {
                var products = cart.products;
                var count = cart.totalCount;
                $('#shopping-amount,#cartProductsCount').html(count);
            });
        }
        $(function () {
            refreshCartProducts();
        });
    </script>
</body>
</html>
