@using Himall.Model
@using Himall.Core
@{
    ViewBag.Title = "MenuManage";
}

<script type="text/javascript" src="/Areas/Admin/Scripts/weixinMenuAdd.js"></script>

@model List<Himall.Web.Areas.Admin.Models.MenuManageModel>

<form>
    <div class="container">
        <ul class="nav nav-tabs-custom clearfix">
            
            <li class="active"><a>菜单管理</a></li>
            <li><a onclick="DialogAddMainMenu()">添加一级菜单</a></li>
            <li><a onclick="DialogAddMenu()">添加二级菜单</a></li>
        </ul>
        <table class="table mt20">
            <thead>
                <tr>
                    <th class="tac">一级菜单名称</th>
                    <th class="tac">二级菜单名称</th>
                    <th class="tac">跳转连接</th>
                    <th class="tac">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tac">
                        <td>
                            @item.TopMenuName
                        </td>
                        <td></td>
                        <td><span class="overflow-ellipsis">@(item.LinkType.ToDescription())&nbsp;&nbsp;&nbsp;&nbsp;@item.URL</span></td>
                        <td>
                            <span class="btn-a">
                                <a class="good-check" href="EditMenu?menuId=@item.ID">编辑</a> <a class="good-check" onclick="DeleteMainMenu(@item.ID)">删除</a>
                            </span>
                        </td>
                    </tr>
                    foreach (var menu in item.SubMenu)
                    {

                        <tr class="tac">
                            <td></td>
                            <td>@menu.Title</td>
                            @if (!string.IsNullOrWhiteSpace(menu.Url))
                            {
                                <td><span class="overflow-ellipsis">@menu.Url</span></td>
                            }
                            else
                            {
                                <td><span class="overflow-ellipsis">@menu.UrlType.ToDescription()</span></td>

                            }
                            <td>
                                  <span class="btn-a">
                                    <a class="good-check" href="EditMenu?menuId=@menu.Id">编辑</a> <a class="good-check" onclick="DeleteMenu(@menu.Id)">删除</a>
                                </span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="table-bt clearfix">
            <div class="col-sm-9">
                <button type="button" class="btn btn-primary" onclick="RequestToWeixin()">同步至微信</button>
            </div>
        </div>

    </div>
    <div id="mainMenu" style="display:none">
        <div class="dialog-form">
            <div class="form-group">
                <label for="" class="label-inline fl">菜单名称：</label>
                <input type="text" class="form-control input-sm" id="txtMenuName1">
                <p class="help-block">限5个字符</p>

            </div>
            <div class="form-group">
                <label for="" class="label-inline fl">链接对象：</label>
                <select id="ddlType1" onchange="Onchange($(this))" class="form-control input-sm">
                    <option value="0">不绑定</option>
                    <option value="1">首页</option>
                    <option value="2">微店</option>
                    <option value="3">商城分类</option>
                    <option value="4">个人中心</option>
                    <option value="5">购物车</option>
                    <option value="6">链接</option>
                </select>
                    <p class="help-block">选择链接对象后将不能添加二级菜单</p>
                
            </div>
            <div class="form-group linkUrl" style="display:none">
                <label for="" class="label-inline fl">链接地址：</label>
                <input type="text" class="form-control input-sm" id="menuUrl1" />
            </div>
        </div>
    </div>
    <div id="childMenu" style="display:none;">
        <div class="dialog-form">
            <div class="form-group">
                <label for="" class="label-inline fl">菜单名称：</label>
                <input type="text" class="form-control input-sm" id="txtMenuName">
                <p class="help-block">限7个字符</p>

            </div>
            <div class="form-group">
                <label for="" class="label-inline fl">上级菜单：</label>
                <select id="mainMenu" class="form-control input-sm">
                    @foreach (var item in Model.Where(i => i.LinkType == Himall.Model.MenuInfo.UrlTypes.Nothing))
                    {
                        <option value=@item.ID>@item.TopMenuName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="" class="label-inline fl">链接对象：</label>
                <select id="ddlType" onchange="Onchange($(this))" class="form-control input-sm">
                    <option value="1">首页</option>
                    <option value="2">微店</option>
                    <option value="3">商城分类</option>
                    <option value="4">个人中心</option>
                    <option value="5">购物车</option>
                    <option value="6">链接</option>
                </select>
            </div>
            <div class="form-group linkUrl" style="display:none">
                <label for="" class="label-inline fl">链接地址：</label>
                <input type="text" class="form-control input-sm" id="menuUrl" value="http://" />
            </div>
        </div>
    </div>


</form>


