@model Himall.Web.Areas.SellerAdmin.Models.ShopBonusModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Mobile/Templates/Default/Content/custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(
                function ()
                {
                    $( '.top' ).height( $( '.container' ).width() * 497 / 320 );
                }
        );
    </script>
</head>
<body>
    <div class="container gift-L gift04">
        <input id="grant" value="@ViewBag.DataModel.GrantId" type="hidden" />
        <div class="top">
            <div class="img"><img src="@(Himall.Core.HimallIO.GetImagePath(ViewBag.DataModel.HeadImg))"></div>
            <div class="go"><a href="@ViewBag.DataModel.ShopAddress ">去逛逛</a></div>
            <p class="name">@Model.Name</p>
        </div>
        <ul class="mid">

        </ul>
        @*@if (ViewBag.DataModel.CopyRight == null || ((bool)ViewBag.DataModel.CopyRight))
        {
            <div class="bottom" onclick="javascript:window.location.href='/@ViewBag.DataModel.AreaName'" style="background-image:url(@ViewBag.DataModel.Logo)">Copyright &copy; @(ViewBag.DataModel.SiteName)版权所有</div>
        }*@
        @*<div id="footer"><img src="~/Areas/Mobile/Templates/Default/Images/logo.png"></div>*@
    </div>
    
</body>
</html>
<script src="~/Areas/Mobile/Templates/Default/Scripts/shopBonusOther.js"></script>
<script>
    LoadWXInfos();
</script>