@{string renminbi = "￥";}
@Html.Raw(Model.showWarp? "<div class=\"members_con\"><section class=\"members_goodspic\"><ul id=\""+Model.warpId+"\">":"")

            @if (@Model.list.Count > 0)
            {
                for (int i = 0; i < @Model.list.Count; i++)
                {
                    if (i % 2 == 0)
                    {
                        var goods = @Model.list[i];
                        <li class="b_mingoods goods_even template5">
                            <div class="b_mingoods_wrapper">
                                <a class="goodsimg" href="@goods.link">
                                    <img class="lazyload" data-url="@goods.pic" src="~/Areas/Mobile/Templates/Default/images/blank.gif">
                                </a>
                                @if (@Model.showIco || @Model.showPrice)
                                {
                                    <p class="title"><a href="@goods.link">@goods.title</a></p>
                                    <p class="pic_box"><span class="pirce">&yen; @goods.price</span><span class="yj">&yen;@goods.original_price</span></p>
                                }
                                @if (goods.is_limitbuy)
                                {
                                    <p class="b_mingoods_btn"><a href="@goods.link">抢购</a></p>
                                }
                                else
                                {
                                    <i class="add-buy-btn"><a href="javascript:void(0)" onclick="buyproduct(this)" class="buyproduct" data-pid="@goods.product_id">购买</a></i>
                                }
                                <div style="display: block;width: 1px;height: 1px;height: 22px;"></div>
                                <span class="xl5">销量：<i>@goods.SaleCounts</i></span>
                            </div>
                        </li>
                    }
                    else
                    {
                        var goods = @Model.list[i];
                        <li class="b_mingoods goods_odd template5">
                            <div class="b_mingoods_wrapper">
                                <a class="goodsimg" href="@goods.link">
                                    <img class="lazyload" data-url="@goods.pic" src="@goods.pic">
                                </a>
                                @if (@Model.showIco || @Model.showPrice)
                                {
                                    <p class="title"><a href="@goods.link">@goods.title</a></p>
                                    <p class="pic_box" style="margin-bottom: 0;"><span class="pirce">&yen; @goods.price</span><span class="yj">&yen;@goods.original_price</span></p>
                                }
                                @if (goods.is_limitbuy)
                                {
                                    <p class="b_mingoods_btn"><a href="@goods.link">抢购</a></p>
                                }
                                else
                                {
                                    <i class="add-buy-btn"><a href="javascript:void(0)" onclick="buyproduct(this)" class="buyproduct" data-pid="@goods.product_id">购买</a></i>
                                }
                                <div style="display: block;width: 1px;height: 1px;height: 22px;"></div>
                                <span class="xl5">销量：<i>@goods.SaleCounts</i></span>
                            </div>
                        </li>
                    }

                }
            }

@Html.Raw(Model.showWarp ? "</ul></section></div>" : "")