@model Himall.Web.Areas.Mobile.Models.DistributionShopShowModel
@{
    ViewBag.Title = "分销店铺编辑管理";
}

<script src="~/Content/Public/js/dist/underscore.js"></script>
<div class="container shop-Man">
    <div class="share-guide"></div>
    <div class="top">
        <h3>@(Model.ShopName)</h3>
        <p><i></i>认证销售员</p>
        <h4 class="compile">编辑</h4>
    </div>
    <div class="S-section">
        <ul id="databox"></ul>
    </div>
    <div id="autoLoad" class="loading"></div><!--暂时不处理了-->
    <div class="QCover" ><div class="QC-W"><h5>店铺二维码</h5><img src="@(Model.ShopQCode)" /><span>长按可保存为图片</span></div></div>

    <div class="S-bottom">
        <span id="code" class="code">二维码</span><span class="code" onclick="window.location.href='/m-Wap/DistributionMarket/Index';">分销首页</span><span class="extend" onclick="ShopShare()">推广店铺</span>
    </div>
</div>
<script id="gdtmp" type="text/template">
    <%_.each(gddatas, function(item) {%>
    <li class="out-frame" id="gd_<%=item.ProductId%>">
        <a href="@(Url.Action("ProductDetail","DistributionMarket"))/<%=item.ProductId%>"><img src="<%=item.Image%>"></a>
        <div class="S-cover">
            <div class="fli-blur" style="background-image:url(<%=item.Image%>)"></div>
            <div class="left">
                <h5 class="S-title"><a href="@(Url.Action("ProductDetail","DistributionMarket"))/<%=item.ProductId%>"><%=item.ProductName%></a></h5>
                <span class="M-money">￥<%= item.SellPrice%></span>
                <p class="M-other">佣金<i><%=item.Commission%>元</i></p>
            </div>
			<div class="right <%if(isEdit){%>right-edit<%}else{%>bt_share<%}%>" data-pid="<%=item.ProductId%>" data-uid="@(Model.UserId)" data-title="<%=item.ProductName%>" data-img="<%=item.ShareImageUrl%>">
				<i></i>
				<span>
					<%if(isEdit){%>移除<%}else{%>分享<%}%>
				</span>
			</div>
        </div>
    </li>
    <%});%>
</script>

<script src="~/Areas/Mobile/Templates/Default/Scripts/loading.js"></script>
<script>
    var curPage = 1;       //当前页
    var isMoreGet = true;  //是否还在数据
    var TmplCon = "";   //获取模板内容
    var skey = "@(Model.SearchKey)";
    var isLoading=false;
    var loading;
    var gddatas;   //数据变量  不定义的话underscore会识别不到。
    var isEdit=false;
    //注意，<%=%>标签中%与=之间不能有空格
    $(document).ready(function () {
        TmplCon = $("#gdtmp").html(); //获取模板内容
        h_loading.init($("#autoLoad"));

        $(".compile").click(function () {
            var _t = $(this);
            if (_t.html() == "编辑") {
                isEdit=true;
                $(".right").removeClass("bt_share").addClass("right-edit");
                $(".right>span").html("移除");
                $(".right>i").css({"background-position":"-36px 0px","width":"22px"})
                _t.html("完成");
                $(".S-bottom").css("display","none");
            } else {
                $(".right").removeClass("right-edit").addClass("bt_share");
                $(".right>span").html("分享");
                _t.html("编辑");
                 $(".S-bottom").css("display","block");
                 $(".right>i").css({"background-position":"-20px 1px","width":"18px"})
                isEdit=false;
            }
        });

        getData();

        $(".out-frame").on("click",".S-cover",function (event) {
                            event.stopPropagation();
                        });

    });

    function getData() {
        if (isMoreGet) {
            if(!isLoading){
                isLoading=true;
                h_loading.show();
                $.post('@Url.Action("ProductList", "DistributionShop")', { id:@(Model.UserId),skey: skey, page: curPage }, function (result) {
                    isLoading=false;
                    gddatas = result;
                    if (gddatas.length > 0) {
                        h_loading.hide();
                        $("#databox").append(_.template(TmplCon, gddatas));

                        $(".out-frame").width($('.container').width() * 93 / 100);
                        $(".out-frame").height($('.container').width() * 93 / 100);
                        $(".fli-blur").width($('.container').width() * 93 / 100);
                        $(".fli-blur").height($('.container').width() * 93 / 100);


                        var SM_lineh = $(".S-cover").height() * 11 / 50;
                        var SM_tit = $(".S-cover").height() * 19 / 100;
                        $(".M-money ").css("line-height", SM_lineh + "px");
                        $(".M-other ").css("line-height", SM_lineh + "px");
                        $(".S-title ").css("line-height", SM_tit + "px");
                        $(".S-title ").height(SM_tit*2 + "px");
                    } else {
                        isMoreGet = false;
                        h_loading.nodata();
                    }
                });
            }
        }
    };
   $(function(){
        $("#code").click(function(){
            $(".QCover").show();
        });
         $(".QCover").click(function(){
            $(this).hide();
         })
   });

    $(function () {
        $('#databox').on('click', '.right', function () {
            var _t = $(this);
            var pid = _t.data("pid");
            var uid = _t.data("uid");
            if (_t.hasClass("right-edit")) {
                $.post('@Url.Action("DeleteAgentProduct")', { id: pid }, function (result) {
                    if (result.success) {
                        $("#gd_" + pid).remove();
                        $.dialog.succeedTips("移除代理成功！");
                    } else {
                        $.dialog.errorTips(result.msg);
                    }
                });
            }
        });
    });

    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();

        if (scrollTop + windowHeight >= scrollHeight - 30) {
            curPage++;
            getData();
        }
    });
</script>

@Html.Action("ShareInfo", "Distribution")

<script type="text/javascript">
	function ShopShare()
	{
		winxinShareArgs.share=$.extend(winxinShareArgs.share,{
			link:'@Model.ShopQCodeUrl',
			title: shopTitle,
			desc: shopDesc,
			imgUrl:shopIcon
		});

		$(".share-guide").show();

		initWinxin(winxinShareArgs);
	}

	$(".share-guide").click(function () {
		$(this).hide();
	});
</script>