<!--_UserCenterLeft start-->
<div class="menu_left_box">
    <span class="a icon1">个人中心</span>
    <a class="b" href="@Url.Action("index","userCenter")">我的个人中心</a>
    <a class="b" href="@Url.Action("index", "UserOrder")">我的订单</a>
    <a class="b" href="@Url.Action("index","userConsultation")">咨询管理</a>
    <a class="b" href="@Url.Action("index","userComment")">评价管理</a>
    <span class="a icon2">我的关注</span>
    <a class="b" href="@Url.Action("index", "productConcern")">商品关注</a>
    <a class="b" href="@Url.Action("index", "shopConcern")">店铺关注</a>
    <span class="a icon3">售后服务</span>
    <a class="b" href="@Url.Action("index", "OrderRefund")">退换货服务</a>
    <a class="b" href="@Url.Action("index", "OrderComplaint")">投诉维权</a>
    <span class="a icon4">账户管理</span>
    <a class="b" href="@Url.Action("index","userAddress")">收货地址管理</a>
    <a class="b" href="@Url.Action("index","userInfo")">个人信息</a>
    <a class="b" href="@Url.Action("AccountSafety", "UserCenter")">账户安全管理</a>
</div>
<!--_UserCenterLeft end-->