@using Newtonsoft.Json;
@model Himall.Web.Areas.Admin.Models.TopicModel
@{
    ViewBag.Title = "Add";
    

    //var items = Himall.Core.EnumHelper.ToDescriptionDictionary<Himall.CommonModel.TopicAlign>().Select(e => new SelectListItem
    //{
    //    Text = e.Value,
    //    Value = e.Key.ToString()
    //}).ToList();

   
}

<script src="~/Scripts/jquery.himallUpload.js"></script>
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<script src="~/Scripts/jquery.productSelector.js"></script>
<script src="~/Areas/Admin/Scripts/topicAdd.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/ueditor/ueditor.config.js"></script>
<script src="~/Scripts/ueditor/ueditor.all.min.js"></script>
<div class="container">
    <ul class="breadcrumb clearfix">

        <li><a href="/Admin/Topic/management">PC专题管理</a></li>
        <li class="active"><a>@(Model.Id > 0 ? "编辑专题" : "新增专题")</a></li>
    </ul>
    <div class="primary"></div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">专题名称：</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(item => item.Name, new { @class = "form-control input-sm" })
            </div>
			<div class="col-sm-3">@Html.ValidationMessageFor(item => item.Name)</div>
        </div>

        <div class="form-group upload-img" id="topImage">
            <div class="col-sm-3">@Html.ValidationMessageFor(item => item.TopImage)</div>
        </div>

        <div class="form-group upload-img" id="backgroudImage">
            <div class="col-sm-3">@Html.ValidationMessageFor(item => item.BackgroundImage)</div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="">是否推荐：</label>
            <div class="col-sm-9">
                <label><input type="radio" id="isrecommend1" name="isrecommend" @(Model.IsRecommend ? "checked" : "") /> 是</label>
                <label><input type="radio" id="isrecommend2" name="isrecommend" @(Model.IsRecommend ? "" : "checked") />否</label>
                <span class="help-default">(注：推荐的专题将显示在商城专题栏目)</span>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">商品模块：</label>
            <div class="col-sm-9">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>模块名称</th>
                            <th>模块名称位置</th>
                            <th>已选择商品数</th>
                            <th class="td-operate">操作</th>
                        </tr>
                    </thead>
                    <tbody id="moduleContainer">
                        @if (Model.TopicModuleInfo.Count > 0)
                        {
                            int i = 0;
                            foreach (var item in Model.TopicModuleInfo)
                            {

                                <tr index="@i">
                                    <td><input class="text-module" maxlength="25" type="text" value="@item.Name" placeholder="@("默认模块"+(i+1))" /></td>
                                    <td>@Html.AlignTypeSelect(((int)item.TitleAlign).ToString())</td>
                                   @* <td>@Html.DropDownList("topicAlign", items, new { @class = "form-control input-sm" })</td>*@
                                    <td type="selectedNumber">@item.ModuleProductInfo.Count</td>
                                    <td class="td-operate"><span class="btn-a"><a class="choose-goods" index="@(i)">选择商品</a><a class="a-del" index="@(i)">删除</a></span></td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr index="0">
                                <td><input class="text-module" type="text" value="默认模块1" placeholder="默认模块1" /></td>
                                <td>@Html.AlignTypeSelect("0")</td>
                                <td type="selectedNumber">未选择</td>
                                <td class="td-operate"><span class="btn-a"><a class="choose-goods">选择商品</a><a class="a-del" index="0">删除</a></span></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="add-topic-module" href="javascript:;" onclick="addModule()"><span class="glyphicon glyphicon-plus-sign"></span>新增模块</a>
            </div>
        </div>

        <div class="form-group" style="display:none">
            <label for="" class="col-sm-2 control-label">专题热点：</label>
            <div class="col-sm-9">
                <textarea id="des">
                    @(Model.SelfDefineText)
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" onclick="submitTopic()" class="btn btn-primary">保 存</button>
            </div>
        </div>
    </form>
</div>
<input type="hidden" id="topImageBox" value="@Model.TopImage" />
<input type="hidden" id="topicId" value="@Model.Id" />
<input type="hidden" id="backgroudImageBox" value="@Model.BackgroundImage" />
<input type="hidden" id="selectedProductIds" value="@( JsonConvert.SerializeObject( Model.TopicModuleInfo.Select(item => item.ModuleProductInfo.Select(s => new { id = s.ProductId }))))" />

