@model Himall.Web.Areas.Mobile.Models.MemberCenterModel

@{
    ViewBag.Title = "个人中心";
    ViewBag.FootIndex = 4;
}


<div class="container" style="padding-bottom:50px;">
    <div class="user-info clearfix">
        @if (string.IsNullOrWhiteSpace(Model.userMemberInfo.CellPhone))
        {
            <div class="phone-tips">
                <span><s></s>您还未绑定手机&nbsp;&nbsp;<a href="@Url.Action("BindPhone", "Member")">去绑定</a><em></em></span>
                <i id="closeTip"></i>
            </div>
        }
        <a href="AccountSecure"><div class="img"><img src="@(Himall.Core.HimallIO.GetImagePath(Model.Member.Photo))" alt="" /><div class="border"></div></div></a>
        <p><span>@(string.IsNullOrWhiteSpace(Model.Member.RealName) ? Model.Member.Nick : Model.Member.RealName)</span><span>@(Model.GradeName != null ? Model.GradeName : string.Empty)</span></p>
        <div class="user-fav row">
            <span class="col-xs-5"><a href="CollectionProduct"><i>@Model.Member.FavoriteInfo.Count</i><br />收藏的商品</a></span>
            <span class="col-xs-2 line"><br>|</span>
            <span class="col-xs-5"><a href="CollectionShop"><i>@Model.CollectionShop</i><br />收藏的店铺</a></span>
        </div>

    </div>

    <div class="my_menu">
        <div class="total-order">
            <a href="../Member/Orders?orderStatus=0"><h5>全部订单</h5> <i class="glyphicon glyphicon-menu-right"></i><em>查看全部订单</em></a>
            @if (Model.SignInIsEnable && Model.CanSignIn)
            {
                <a id="signbtn" class="SignIn-btn @(Model.CanSignIn ? "" : "disabled")"></a>
            }
        </div>
        <ul class="clearfix">
            <li><a href="../Member/Orders?orderStatus=1"><span class="icon01"></span><p>待付款</p>@(MvcHtmlString.Create(Model.WaitingForPay == 0 ? "" : "<i>" + Model.WaitingForPay + "</i>"))</a></li>
            <li><a href="../Member/Orders?orderStatus=2"><span class="icon02"></span><p>待发货</p>@(MvcHtmlString.Create(Model.WaitingForDelivery == 0 ? "" : "<i>" + Model.WaitingForDelivery + "</i>"))</a></li>
            <li><a href="../Member/Orders?orderStatus=3"><span class="icon03"></span><p>待收货</p>@(MvcHtmlString.Create(Model.WaitingForRecieve == 0 ? "" : "<i>" + Model.WaitingForRecieve + "</i>"))</a></li>
            <li><a href="../Member/Orders?orderStatus=5"><span class="icon04"></span><p>待评论</p>@(MvcHtmlString.Create(Model.WaitingForComments == 0 ? "" : "<i>" + Model.WaitingForComments + "</i>"))</a></li>
            <li><a href="../OrderRefund/RefundList"><span class="icon05"></span><p>退款/售后</p>@(MvcHtmlString.Create(Model.RefundOrders == 0 ? "" : "<i>" + Model.RefundOrders + "</i>"))</a></li>
        </ul>
    </div>
    <div class="groupp-top">
        <div class="list-grouppp">
            <a href="../Coupon/Management">
                <b class="icon06"></b><div class="list">我的优惠券</div>
                <span class="glyphicon glyphicon-menu-right"></span>
                @if(Model.CouponsCount>0)
                { 
                <span class="rt">你有@(Model.CouponsCount)张优惠券未使用</span>
                }
                else
                {
                    <span class="rt"></span>
                }
            </a>
        </div>
        <div class="list-grouppp">
            <a>
                <b class="icon07"></b><div class="list">我的积分</div>
                <span></span>
                <span class="rt code">@(Model.MemberAvailableIntegrals)分</span>
            </a>
        </div>
        <div class="list-grouppp" style="border:none;">
            <a href="/common/site/pay?area=mobile&platform=@(ViewBag.AreaName.Replace("m-",""))&controller=Capital&action=Index">
                <b class="icon08"></b><div class="list">我的资产</div>
                <span class="glyphicon glyphicon-menu-right"></span>
                <span class="rt ">@(Model.Capital)元</span>
            </a>
        </div>
    </div>
    <div class="groupp-middle">
        @{var promoter = Model.Member.Himall_Promoter.FirstOrDefault();}
        @if (promoter != null)
        {
            if (Model.CanDistribution && (promoter.Status == Himall.Model.PromoterInfo.PromoterStatus.Audited || promoter.Status == Himall.Model.PromoterInfo.PromoterStatus.NotAvailable))
            {
                <div class="list-grouppp">
                    <a href="@Url.Action("Performance","Distribution")">
                        <b class="icon9"></b><div class="list">我的分销业绩</div>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                </div>
            }
            if (Model.CanDistribution && promoter.Status == Himall.Model.PromoterInfo.PromoterStatus.Audited)
            {
                <div class="list-grouppp" style="border:none;">
                    <a href="@Url.Action("ShopManagement", "Distribution")">
                        <b class="icon10"></b><div class="list">我的店铺</div>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                </div>
            }
        }
    </div>
    <div class="groupp-middle2">
        <div class="list-grouppp">
            <a href="@Url.Action("index","userinvite")">
                <b class="icon11"></b><div class="list">我要推广</div>
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div>
        <div class="list-grouppp">
            <a href="@Url.Action("MyGroups", "MyFightGroup")">
                <b class="icon14"></b><div class="list">我的拼团</div>
                <span class="glyphicon glyphicon-menu-right"></span>
                @if (Model.BulidFightGroupNumber > 0)
                {
                    <span class="rt ">@(Model.BulidFightGroupNumber)个团正在火拼中</span>
                }
            </a>
        </div>
    </div>
    <div class="groupp-bottom">
        
        <div class="list-grouppp">
            <a href="../Order/ChooseShippingAddress">
                <b class="icon12"></b><div class="list">收货地址管理</div>
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div>
        <div class="list-grouppp" style="border:none;">
            <a href="AccountSecure">
                <b class="icon13"></b><div class="list">账号管理</div>
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div>
    </div>

    @if (Model.CanDistribution)
    {
        <a href="@Url.Action("index","DistributionMarket")">
            <div class="dis-market">    </div>
        </a>
    }
    @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot.cshtml");}
</div>

@if (Model.CanSignIn)
{
    <script type="text/javascript">
        $(function () {

            $("#signbtn").click(function () {
                var _t = $(this);
                if (!_t.hasClass("disabled")) {
                    var loading = showLoading();
                    $.post('../SignIn/Sign', null, function (result) {
                        loading.close();
                        if (result.success) {
                            _t.addClass("disabled")
                            $.dialog.succeedTips(result.msg, function () { window.location.reload(); });
                        }
                        else {
                            //$.dialog.errorTips('签到成功！<br>+5分<br>再签到2天奖50分');
                            $.dialog.errorTips(result.msg);
                        }
                    }, "json");
                }
            });
        });
    </script>
}
<script type="text/javascript">
    $.ajax({
        type: 'post',
        url: "/" + areaName + "/DistributionMarket/Setting",
        data: {},
        dataType: "json",
        success: function (data) {
            //console.log(JSON.stringify(data))
            if (data.success) {
                $('.dis-market').css("background-image", "url(" + data.data.DisBanner + ")");
            }
        }
    });
    $(function () {
        $("#closeTip").click(function () {
            $(".phone-tips").hide();
        })
    })
</script>