@model Himall.DTO.MarketServiceModel
@{
    ViewBag.Title = "购买拼团服务";
}
<script src="~/Scripts/v.js"></script>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">

@if (Model.IsBuy)
{
        <li class=""><a href="@Url.Action("Index")">活动列表</a></li>
}
        @if (!Model.IsExpired)
        {
            <li class=""><a href="@Url.Action("AddActive")">新增满额减</a></li>
        }
        <li class="active"><a>购买服务</a></li>

    </ul>
    <form id="form1" action="@Url.Action("BuyMarketService")" method="post">
        <div class="form-horizontal">
            <div class="form-group">
                @if (Model.IsBuy)
                {
                    <label class="col-sm-2 control-label" for="">服务到期时间：</label>
                    <b class="pl20 lh30">@(Model.EndTime.HasValue?Model.EndTime.Value.ToString("yyyy年MM月dd日"):"")</b>
                    <span class="help-default pl20 lh30">每月您需要支付<b class="red"> @Model.Price.ToString("f2") </b> 元，相关费用会在店铺的账期结算中扣除</span>
                }
                else
                {
                    <label class="col-sm-2 control-label" for=""></label>
                    <span class="red pl20">您未购买满额减服务</span>
                    <span class="help-default pl20 lh30">每月您需要支付 @Model.Price.ToString("f2") 元</span>
                }
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">购买数量：</label>
                <div class="col-sm-8"><input class="form-control input-sm" type="text" id="range" name="month" data-price="@Model.Price.ToString("f2")" style="width:105px; display:inline-block" /> &nbsp; 月</div>
            </div>
            <div class="form-group">
                <input type="submit" style="display:none" id="submit" />
                <div class="col-sm-3 col-sm-offset-2"><button id="btnSave" type="button" class="btn btn-primary btn-sm color-f">确认购买</button></div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        var range = $("#range");
        range.focus();
        range.on("keydown", function (e) {
            var keyCode = e.keyCode;
            if (keyCode >= 96 && keyCode <= 105) return true;
            if (keyCode >= 48 && keyCode <= 57) return true;
            if (keyCode == 13 || keyCode == 9 || keyCode == 8 || keyCode == 46) return true;
            if (keyCode == 37 || keyCode == 39) return true;
            return false;
        });
    });

    $('#btnSave').click(function () {
        var month = $("#range").val();
        var price = $("#range").data("price");
        if (month.length>0 && month <= 12) {
            $.dialog.confirm('您确定花费' + month * price + '元购买' + month + '个月满额减服务吗？', function () {
                $('#submit').click();
            });
        }
    })



    var a = v({
        form: 'form1',
        ajaxSubmit: true,
        beforeSubmit: function () {
            loadingobj = showLoading();
        },
        afterSubmit: function (data) {// 表单提交成功回调
            loadingobj.close();
            var d = data;
            if (d.success) {
                $.dialog.succeedTips("提交成功！", function () {
                    window.location.reload();
                }, 0.3);
            } else {
                $.dialog.alert(data.msg, '', 3);
            }
        }
    });
    a.add(
        {
            target: 'range',
            empty: true,
            ruleType: 'uint&&(value>0)&&(value<=12)',// v.js规则验证
            error: '只能为数字，且只能是1到12之间的整数!'
        });
</script>