@{
    Layout = null;
}

@model  List<Himall.Web.Areas.Web.Models.ProductCollocationModel>
@if (Model != null && Model.Count > 0)
{
    var titles = Model.Select(p => p.Name).ToList();
    <ul class="tab-colle">
        @{
    var k = 0;
    foreach (var name in titles)
    {
        if (k == 0)
        {
            <li class="active">@name</li>
        }
        else
        {
            <li>@name</li>
        }
        k++;
    }
        }
    </ul>
    <div class="collocation-wrap">
        @{
    var index = 0;
    foreach (var m in Model)
    {
        var pros = m.Products;
        int i = 0;
        var main = "";
        var mainpro = pros.FirstOrDefault(p => p.IsMain);
        var current = string.Empty;
        if (index == 0)
        {
            current = "current";
        }
        <div class="products-group m m2 productcollocation @current" mainpid="@mainpro.ProductId">
            <div class="p-group-list cl">
                <div class="p-group-main curr">
                    <a title="@mainpro.ProductName" target="_blank" href="@Url.Action("detail", new { id = @mainpro.ProductId })"><img src="@Himall.Core.HimallIO.GetProductSizeImage(mainpro.Image,1,220)" /></a>
                    <p class="name"><a target="_blank" href="@Url.Action("detail", new { id = @mainpro.ProductId })">@mainpro.ProductName</a></p>
                    <p class="price">
                        <label>
                            <input type="checkbox" checked="checked" disabled name="collochk" class="collochk" data-collpid="@mainpro.ColloPid"
                                   data-mincollprice="@mainpro.MinCollPrice" data-maxcollprice="@mainpro.MaxCollPrice" data-maxsaleprice="@mainpro.MaxSalePrice" data-minsaleprice="@mainpro.MinSalePrice" value="@mainpro.ProductId" />
                            价格 ¥ @mainpro.MinCollPrice
                        </label>
                    </p>
                </div>
                <div class="p-group-child-box">
                    <ul class="p-group-child cl">
                        @foreach (var t in pros.Skip(1))
                        {
                            if (t.Stock == 0)
                            {
                                main = "disabled";
                            }
                            else if (i < 3 && t.Stock > 0)
                            {
                                main = "checked";
                                i++;
                            }
                            else
                            {
                                main = "";
                            }
                            <li>
                                <a title="@t.ProductName" href="@Url.Action("detail", new { id = t.ProductId})"><img src="@Himall.Core.HimallIO.GetProductSizeImage(t.Image,1,220)" /></a>
                                <p class="name"><a target="_blank" href="@Url.Action("detail", new { id = @t.ProductId })">@t.ProductName</a></p>
                                <p class="price">
                                    <label>
                                        <input type="checkbox" @main name="collochk" class="collochk" data-collpid="@t.ColloPid" data-mincollprice="@t.MinCollPrice" data-maxcollprice="@t.MaxCollPrice"
                                               data-maxsaleprice="@t.MaxSalePrice" data-minsaleprice="@t.MinSalePrice" value="@t.ProductId" />价格 ¥ @t.MinCollPrice
                                        </label>
                                    </p>

                                </li>
                        }
                    </ul>
                </div>

                <div class="group-arrow">
                    <a class="group-arrow-pre"></a>
                    <a class="group-arrow-next"></a>
                </div>

            </div>
            <div class="p-group-btn">
                <h3>组合价<span id="collTotalPrice"></span></h3>
                <p class="oldp">原价：<s id="saleTotalPrice"></s></p>
                <p><i>省</i><span class="dis" id="groupPriceMinus"></span> </p>
                <a onclick="CollocationBuy(@index)">立即购买</a>
            </div>
        </div>
                index++;
    }
        }
    </div>
}


<script type="text/javascript">
    $("ul.tab-colle li").on("click", function () {
        var index = $(this).index();
        $(this).addClass("active").siblings().removeClass("active");
        $(".collocation-wrap .products-group").eq(index).addClass("current").siblings().removeClass("current");
    });
</script>
