@model Himall.Web.Areas.Admin.Models.HomeFloorDetail
@using Himall.Web.Areas.Admin.Models;
@using System.Linq;
@using Himall.Web.Framework;
@{
    var LeftOne = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.LeftOne, new HomeFloorDetail.TextLink { Id= (int)Himall.Model.Position.LeftOne });
    var MiddleOne = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.MiddleOne, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.MiddleOne });
    var MiddleTwo = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.MiddleTwo, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.MiddleTwo });
    var MiddleThree = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.MiddleThree, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.MiddleThree });
    var MiddleFour = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.MiddleFour, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.MiddleFour });
    var MiddleFive = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.MiddleFive, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.MiddleFive });
    var MiddleSix = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.MiddleSix, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.MiddleSix });
    var ROne = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.ROne, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.ROne });
    var RTwo = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.RTwo, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.RTwo });
    var RThree = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.RThree, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.RThree });
    var RFour = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.RFour, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.RFour });
    var RFive = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.RFive, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.RFive });
    var BottomOne = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.BottomOne, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.BottomOne });
    var BottomTwo = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.BottomTwo, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.BottomTwo });
    var BottomThree = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Himall.Model.Position.BottomThree, new HomeFloorDetail.TextLink { Id = (int)Himall.Model.Position.BottomThree });
}

<script src="~/Scripts/jquery.himallUpload.js"></script>
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<script src="~/Scripts/jquery.productSelector.js"></script>
<script src="~/Areas/Admin/Scripts/charCode.js"></script>
<script src="~/Areas/Admin/Scripts/pageSettings-floorDetail8.js"></script>



<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li><a href="./HomeFloor">管理</a></li>
        <li class="active"><a>编辑</a></li>
    </ul>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>楼层名称：</label>
            <div class="col-sm-3 form-control-static">
                <input class="form-control input-xs" type="text" id="FloorName" name="FloorName" value="@ViewBag.FloorName" />
            </div>
        </div>


        <div class="form-group">
            <label for="" class="col-sm-2 control-label">选项卡：</label>
            <div class="col-sm-9">
                <table id="tblProducts" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>已选商品数量</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody type="Products">
                        @foreach (var tab in Model.Tabs)
                        {
                            <tr type="Products" name="@tab.Id">
                                <td><input class="form-control input-xs" type="text" name="name" value="@tab.Name" /></td>
                                <td><span ids="@tab.Ids">@tab.Count</span></td>
                                <td class="td-operate"><span class="btn-a"><a>选择商品</a></span><span class="btn-del"><a href="#">删除</a></span></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="add-atrr" id="addProducts"><span class="glyphicon glyphicon-plus-sign"></span>添加</a>&nbsp;<span>(最多增加4个)</span>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">默认选项卡名称：</label>
            <div class="col-sm-3 form-control-static">
                <input class="form-control input-xs" type="text" id="DefaultTabName" name="DefaultTabName" value="@Model.DefaultTabName" />
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">图片：</label>
            <div class="col-sm-9">
                <table class="table table-bordered upload-file-btn">
                    <thead>
                        <tr>
                            <th>
                                区域
                                <div class="floor-ex-img">
                                    （<a class="ex-btn">区域划分图</a>）
                                    <img src="/Images/floor_07.jpg" />
                                </div>
                            </th>
                            <th>图片</th>
                            <th>跳转链接</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>左一</td>
                            <td><div class="upload-img" id="up0" url="@HimallIO.GetImagePath(LeftOne.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.LeftOne)" name="url" value="@LeftOne.Name" /></td>
                        </tr>
                        <tr>
                            <td>中图1</td>
                            <td><div class="upload-img" id="up1" url="@HimallIO.GetImagePath(MiddleOne.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.MiddleOne)" name="url" value="@MiddleOne.Name" /></td>
                        </tr>
                        <tr>
                            <td>中图2</td>
                            <td><div class="upload-img" id="up2" url="@HimallIO.GetImagePath(MiddleTwo.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.MiddleTwo)" name="url" value="@MiddleTwo.Name" /></td>
                        </tr>
                        <tr>
                            <td>中图3</td>
                            <td><div class="upload-img" id="up3" url="@HimallIO.GetImagePath(MiddleThree.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.MiddleThree)" name="url" value="@MiddleThree.Name" /></td>
                        </tr>
                        <tr>
                            <td>中图4</td>
                            <td><div class="upload-img" id="up4" url="@HimallIO.GetImagePath(MiddleFour.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.MiddleFour)" name="url" value="@MiddleFour.Name" /></td>
                        </tr>
                        <tr>
                            <td>中图5</td>
                            <td><div class="upload-img" id="up5" url="@HimallIO.GetImagePath(MiddleFive.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.MiddleFive)" name="url" value="@MiddleFive.Name" /></td>
                        </tr>
                        <tr>
                            <td>中图6</td>
                            <td><div class="upload-img" id="up6" url="@HimallIO.GetImagePath(MiddleSix.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.MiddleSix)" name="url" value="@MiddleSix.Name" /></td>
                        </tr>
                        <tr>
                            <td>右图1</td>
                            <td><div class="upload-img" id="up7" url="@HimallIO.GetImagePath(ROne.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.ROne)" name="url" value="@ROne.Name" /></td>
                        </tr>
                        <tr>
                            <td>右图2</td>
                            <td><div class="upload-img" id="up8" url="@HimallIO.GetImagePath(RTwo.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.RTwo)" name="url" value="@RTwo.Name" /></td>
                        </tr>
                        <tr>
                            <td>右图3</td>
                            <td><div class="upload-img" id="up9" url="@HimallIO.GetImagePath(RThree.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.RThree)" name="url" value="@RThree.Name" /></td>
                        </tr>
                        <tr>
                            <td>右图4</td>
                            <td><div class="upload-img" id="up10" url="@HimallIO.GetImagePath(RFour.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.RFour)" name="url" value="@RFour.Name" /></td>
                        </tr>
                        <tr>
                            <td>右图5</td>
                            <td><div class="upload-img" id="up11" url="@HimallIO.GetImagePath(RFive.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.RFive)" name="url" value="@RFive.Name" /></td>
                        </tr>
                        <tr>
                            <td>底图1</td>
                            <td><div class="upload-img" id="up12" url="@HimallIO.GetImagePath(BottomOne.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.BottomOne)" name="url" value="@BottomOne.Name" /></td>
                        </tr>
                        <tr>
                            <td>底图2</td>
                            <td><div class="upload-img" id="up13" url="@HimallIO.GetImagePath(BottomTwo.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.BottomTwo)" name="url" value="@BottomTwo.Name" /></td>
                        </tr>
                        <tr>
                            <td>底图3</td>
                            <td><div class="upload-img" id="up14" url="@HimallIO.GetImagePath(BottomThree.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Himall.Model.Position.BottomThree)" name="url" value="@BottomThree.Name" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" name="id" id="homeFloorId" value="@Model.Id" />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" name="submit" class="btn btn-primary">保存楼层</button>
            </div>
        </div>
    </form>
</div>
