@using Himall.Core
@model Himall.Web.Areas.Mobile.Models.ProductShowSkuInfoModel
@{
    Layout = null;
    ViewBag.Title = "商品SKU";
}
<div class="modul-popup" role="alert">
    <div class="modul-popup-container">
        <div class="att-popup-header">
            <div class="thumb pull-left"><img class="img-responsive" src="@(Himall.Core.HimallIO.GetProductSizeImage(Model.ProductImagePath, 1, (int)Himall.CommonModel.ImageSize.Size_150))"></div>
            <div class="info pull-left">
                <div class="price-con">￥<span id="salePrice">@Model.MinSalePrice.ToString("F2")</span></div>
                <div class="stock-control">库存 <em id="stockNum">0</em> 件</div>
                <!-- <div class="sku-dtips" id="choose-result">已选择：</div> -->
            </div>
            <a href="javascript:;" class="modul-popup-close att-popup-close"></a>
        </div>
        <div class="att-popup-body">
            <div class="modul-scroll">
                @if (Model.Color.Count() > 0 || Model.Size.Count() > 0 || Model.Version.Count() > 0) {
                    <div class="item" id="choose">
                        @if (Model.Color.Count() > 0) {
                            <div class="spec">
                                <label>@Model.ColorAlias</label>
                                <div class="att-name" id="colorSpec">
                                    @foreach (var color in Model.Color) {
                                        <span st="0" cid="@color.SkuId" data-img="@(color.Img)" class="itemSku @color.EnabledClass @color.SelectedClass">@color.Value</span>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.Size.Count() > 0) {
                            <div class="spec">
                                <label>@Model.SizeAlias</label>
                                <div class="att-name">
                                    @foreach (var size in Model.Size) {
                                        <span st="1" cid="@size.SkuId" class="itemSku @size.EnabledClass @size.SelectedClass">@size.Value</span>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.Version.Count() > 0) {
                            <div class="spec">
                                <label>@Model.VersionAlias</label>
                                <div class="att-name">
                                    @foreach (var version in Model.Version) {
                                        <span st="2" cid="@version.SkuId" class="itemSku @version.EnabledClass @version.SelectedClass">@version.Value</span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
                <div class="item">
                    <div class="buy-num">
                        <label>数量</label>
                        <div class="wrap-num">
                            <a class="glyphicon glyphicon-minus" href="javascript:;"></a>
                            <input class="input-xs form-control" id="buy-num" value="1" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v()">
                            <a class="glyphicon glyphicon-plus" href="javascript:;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="att-popup-footer">
            <button type="button" class="btn btn-warning btn-yes" id="easyBuyBtn">确 定</button>
        </div>
    </div>
</div>