@using Himall.Model
@using Himall.Service
@{
	ViewBag.Title = "Index";
	List<taocan_tcmenu> menus = ViewBag.taocanMenuList as List<taocan_tcmenu>;
	List<taocan_tcmenu> MainMenus = menus.Where(m => m.Id <= 6 && m.parent_id == 0).ToList();
	taocan_tcitemService taocanService = new taocan_tcitemService();
	//整装套餐 items
	List<taocan_tcitem> zztcItems = taocanService.GetTaoCanItems(7);
	//家具套餐 items
	List<taocan_tcitem> jjtcItems = taocanService.GetTaoCanItems(9);
	//品牌实力
	List<taocan_tcitem> pptcItems = taocanService.GetTaoCanItems(22);
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>装修套餐1</title>
	<link href="~/Areas/Web/Content/taocan/content/css/taocan1.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div class="header">
		<div class="logo"><img src="~/Areas/Web/Content/taocan/content/images/logo.png" /></div>
		<div class="nav">
			<ul id="main_nav">
				<li><a href="#">商城首页</a></li>
				@foreach (taocan_tcmenu m in MainMenus)
				{
					<li><a href="@m.link_url">@m.title</a></li>
				}
			</ul>
		</div>
		<div class="contact">
			<div class="search">
				<input type="text" style="display: none" />
			</div>
			<div class="phone_num">
				<i></i>4008-323-100
			</div>
			<div class="user">
				<i></i>
			</div>
		</div>
	</div>
	<div class="main_banner">
		<div class="banner">
			<div class="banner_img">
				<img src="~/Areas/Web/Content/taocan/content/images/banner.png">
				<img src="~/Areas/Web/Content/taocan/content/images/banner1.png" style="display: none">
				<img src="~/Areas/Web/Content/taocan/content/images/banner.png" style="display: none">
			</div>
			<div class="banner_img_item">
				<span class="cur"></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="budget">
			<div style="font-size: 20px;padding: 10px 10px 10px 0px; ">
				免费获取装修预算
			</div>
			<div>
				<input id="consult_name" type="text" placeholder="您的称呼">
				<input id="consult_phone" type="text" placeholder="填写手机号，木尚庭为您服务">
				<button type="button" id="consult_btn">预约咨询</button>
			</div>
		</div>
		<div class="taocan_menu">
			<div>
				@{
					taocan_tcmenu zztc = menus.FirstOrDefault(m => m.Id == 7);
					if (zztc != null && !String.IsNullOrWhiteSpace(zztc.link_url))
					{

						<a href="@zztc.link_url">
							<img src="~/Areas/Web/Content/taocan/content/images/icon1.png">
							整装套餐
						</a>
					}
				}
			</div>
			<div>
				@{
					taocan_tcmenu zctc = menus.FirstOrDefault(m => m.Id == 8);
					if (zctc != null && !String.IsNullOrWhiteSpace(zctc.link_url))
					{

						<a href="@zctc.link_url">
							<img src="~/Areas/Web/Content/taocan/content/images/icon2.png">
							主材套餐
						</a>
					}
				}

			</div>
			<div>
				@{
					taocan_tcmenu jjtc = menus.FirstOrDefault(m => m.Id == 9);
					if (jjtc != null && !String.IsNullOrWhiteSpace(jjtc.link_url))
					{

						<a href="@jjtc.link_url">
							<img src="content/images/icon3.png">
							家具套餐
						</a>
					}
				}
			</div>
			<div>
				@{
					taocan_tcmenu dxtc = menus.FirstOrDefault(m => m.Id == 10);
					if (dxtc != null && !String.IsNullOrWhiteSpace(dxtc.link_url))
					{

						<a href="@dxtc.link_url">
							<img src="~/Areas/Web/Content/taocan/content/images/icon4.png">
							单选套餐
						</a>
					}
				}

			</div>
			<div>
				@{
					taocan_tcmenu rztc = menus.FirstOrDefault(m => m.Id == 10);
					if (rztc != null && !String.IsNullOrWhiteSpace(rztc.link_url))
					{
						<a href="@rztc.link_url">
							<img src="~/Areas/Web/Content/taocan/content/images/icon5.png">
							软装套餐
						</a>
					}
				}

			</div>
		</div>
	</div>
	<div class="taocan1">
		<div class="taocan_desc">
			<hr class="taocan_hr" />
			<span class="desc">整装套餐</span>
			<hr class="taocan_hr" />
			<br>
			<span style="font-size: 14px;">
				国民品牌 匠心制作
			</span>
		</div>
		<div class="taocan1_img">
			@if (zztcItems.Count >= 3)
			{
				<div class="taocan1_normal">
					@for (int i = 0; i < 3; i++)
					{
						if (!string.IsNullOrWhiteSpace(zztcItems[i].link_url))
						{
							<span><a href="@zztcItems[i].link_url"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
						}
						else
						{
							<span><a href="~/Areas/Web/TaoCan/TaoCanInfo?id=@zztcItems[i].Id"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
						}
					}
				</div>
			}
			<div class="taocan1_big">
				@if (zztcItems.Count >= 4)
				{
					if (!string.IsNullOrWhiteSpace(zztcItems[4].link_url))
					{
						<span><a href="@zztcItems[4].link_url"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
					}
					else
					{
						<span><a href="~/Areas/Web/TaoCan/TaoCanInfo?id=@zztcItems[4].Id"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
					}
				}
				<span><a href="#"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
				@if (zztcItems.Count >= 5)
				{
					if (!string.IsNullOrWhiteSpace(zztcItems[5].link_url))
					{
						<span><a href="@zztcItems[5].link_url"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
					}
					else
					{
						<span><a href="~/Areas/Web/TaoCan/TaoCanInfo?id=@zztcItems[5].Id"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
					}
				}
			</div>
			@if (zztcItems.Count > 6)
			{
				<div class="taocan1_normal">
					@for (int i = 6; i < 9; i++)
				{
					if (!string.IsNullOrWhiteSpace(zztcItems[i].link_url))
					{
							<span><a href="@zztcItems[i].link_url"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
					}
					else
					{
							<span><a href="~/Areas/Web/TaoCan/TaoCanInfo?id=@zztcItems[i].Id"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
					}
				}
				</div>
			}
		</div>
	</div>
	<div class="taocan2">
		<div class="taocan_desc">
			<hr class="taocan_hr" />
			<span class="desc">主材套餐</span>
			<hr class="taocan_hr" />
			<br>
			<span style="font-size: 14px;">
				精选品牌 立刻拥有
			</span>
			<br>
			<span class="taocan2_item active">
				<a href="#">时尚简单</a>
			</span>
			<span class="taocan2_item">
				<a href="#">时尚简单</a>
			</span>
			<span class="taocan2_item">
				<a href="#">时尚简单</a>
			</span>
			<span class="taocan2_item">
				<a href="#">时尚简单</a>
			</span>
			<span class="taocan2_item">
				<a href="#">时尚简单</a>
			</span>
			<span class="taocan2_item">
				<a href="#">时尚简单</a>
			</span>
		</div>
		<div id="taocan_zhucai" class="taocan2_content">
			<div class="switch prev">
				<img src="~/Areas/Web/Content/taocan/content/images/prev.png">
			</div>
			<div class="taocan2_imgs">
				<img src="~/Areas/Web/Content/taocan/content/images/img2.png">
				<img src="~/Areas/Web/Content/taocan/content/images/img3.png" style="display: none">
				<img src="~/Areas/Web/Content/taocan/content/images/img2.png" style="display: none">
			</div>
			<div class="switch next">
				<img src="~/Areas/Web/Content/taocan/content/images/next.png">
			</div>
		</div>
	</div>
	<div class="taocan1">
		<div class="taocan_desc">
			<hr class="taocan_hr" />
			<span class="desc">家具套餐</span>
			<hr class="taocan_hr" />
			<br>
			<span style="font-size: 14px;">
				百年匠心传承 只为品质而生
			</span>
		</div>
		<div class="taocan1_new">
			@if (jjtcItems != null && jjtcItems.Count > 0)
			{
				foreach (taocan_tcitem item in jjtcItems)
				{
					if (!string.IsNullOrWhiteSpace(item.link_url))
					{
						<span><a href="@item.link_url"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
					}
					else
					{
						<span><a href="~/Areas/Web/TaoCan/TaoCanInfo?id=@item.Id"><img src="~/Areas/Web/Content/taocan/content/images/img1.png"></a></span>
					}
				}
			}
		</div>
	</div>
	<div class="taocan2">
		<div class="taocan_desc">
			<hr class="taocan_hr" />
			<span class="desc">单选套餐</span>
			<hr class="taocan_hr" />
			<br>
			<span style="font-size: 14px;">
				精选品牌 立刻拥有
			</span>
			<br>
			<span class="taocan2_item active">
				<a href="#">客餐厅</a>
			</span>
			<span class="taocan2_item">
				<a href="#">厨房</a>
			</span>
			<span class="taocan2_item">
				<a href="#">书房</a>
			</span>
			<span class="taocan2_item">
				<a href="#">卧室</a>
			</span>
			<span class="taocan2_item">
				<a href="#">卫生间</a>
			</span>
			<span class="taocan2_item">
				<a href="#">阳台</a>
			</span>
		</div>
		<div id="taocan_single" class="taocan2_content">
			<div class="switch prev">
				<img src="~/Areas/Web/Content/taocan/content/images/prev.png">
			</div>
			<div class="taocan2_imgs">
				<img src="~/Areas/Web/Content/taocan/content/images/img2.png">
				<img src="~/Areas/Web/Content/taocan/content/images/img3.png" style="display: none">
				<img src="~/Areas/Web/Content/taocan/content/images/img2.png" style="display: none">
			</div>
			<div class="switch next">
				<img src="~/Areas/Web/Content/taocan/content/images/next.png">
			</div>
		</div>
	</div>
	<div class="taocan1">
		<div class="taocan_desc">
			<hr class="taocan_hr" />
			<span class="desc">品牌实力</span>
			<hr class="taocan_hr" />
			<br>
			<span style="font-size: 14px;">
				百年匠心传承 只为品质而生
			</span>
		</div>
		<div id="link_brand" class="taocan2_content" style="display: flex; justify-content: center">
			<div class="switch prev" style="line-height: 450px;">
				<img src="~/Areas/Web/Content/taocan/content/images/prev.png">
			</div>
			<div class="taocan2_links">
				@if (pptcItems != null && pptcItems.Count > 9)
				{
					<div>
						@for (int i = 0; i < 9; i++)
						{
							if (!string.IsNullOrWhiteSpace(pptcItems[i].link_url))
							{
								<span><a href="@pptcItems[i].link_url"><img src="~/Areas/Web/Content/taocan/content/images/link.png"></a></span>
							}
							else
							{
								<span><a href="/Areas/Web/TaoCan/TaoCanInfo?id=@pptcItems[i].Id"><img src="~/Areas/Web/Content/taocan/content/images/link.png"></a></span>
							}
						}
					</div>

					@{  int n = pptcItems.Count / 9;
						int m = pptcItems.Count % 9;

						if (n > 1)
						{
							for (int i = 1; i <= n; i++)
							{
								<div style="display: none">
									@for (int j = i * 9 + 1; j < (i + 1) * 9; j++)
									{
										if (!string.IsNullOrWhiteSpace(pptcItems[j].link_url))
										{
											<span><a href="@pptcItems[j].link_url"><img src="~/Areas/Web/Content/taocan/content/images/link.png"></a></span>
										}
										else
										{
											<span><a href="/Areas/Web/TaoCan/TaoCanInfo?id=@pptcItems[j].Id"><img src="~/Areas/Web/Content/taocan/content/images/link.png"></a></span>
										}
									}
								</div>
							}
						}

						if (m > 0)
						{
							<div style="display: none">
								@for (int j = n * 9 + 1; j < (m + 1) * 9+m; j++)
								{
									if (!string.IsNullOrWhiteSpace(pptcItems[j].link_url))
									{
										<span><a href="@pptcItems[j].link_url"><img src="~/Areas/Web/Content/taocan/content/images/link.png"></a></span>
									}
									else
									{
										<span><a href="/Areas/Web/TaoCan/TaoCanInfo?id=@pptcItems[j].Id"><img src="~/Areas/Web/Content/taocan/content/images/link.png"></a></span>
									}
								}
							</div>
						}
					}
						}
						else
						{
							<div>
								@for (int i = 0; i < pptcItems.Count; i++)
								{
									if (!string.IsNullOrWhiteSpace(pptcItems[i].link_url))
									{
										<span><a href="@pptcItems[i].link_url"><img src="~/Areas/Web/Content/taocan/content/images/link.png"></a></span>
									}
									else
									{
										<span><a href="/Areas/Web/TaoCan/TaoCanInfo?id=@pptcItems[i].Id"><img src="~/Areas/Web/Content/taocan/content/images/link.png"></a></span>
									}
								}
							</div>
						}

			</div>
			<div class="switch next" style="line-height: 450px;">
				<img src="~/Areas/Web/Content/taocan/content/images/next.png">
			</div>
		</div>
	</div>
	<div class="footer1">
		<div class="footer_content">
			<div class="footer_menu">
				<div>
					<span class="menu_title">
						案例精选
					</span>
					<ul class="menu_item">
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
					</ul>
				</div>
				<div>
					<span class="menu_title">
						案例精选
					</span>
					<ul class="menu_item">
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
					</ul>
				</div>
				<div>
					<span class="menu_title">
						案例精选
					</span>
					<ul class="menu_item">
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
					</ul>
				</div>
			</div>
			<div class="footer_img">
				<img src="~/Areas/Web/Content/taocan/content/images/weixin.png" style="margin-right: 10px;">
				<img src="~/Areas/Web/Content/taocan/content/images/weixin.png">
			</div>
			<div style="display: inline-block;margin-top: 40px;margin-left: 40px;">
				<div style="font-size: 20px;color: #ffffff;margin-bottom: 20px;">
					全国统一免费咨询热线
				</div>
				<div style="color:blue">
					4000-333-444444
				</div>
			</div>
		</div>

	</div>
	<script src="~/Areas/Web/Content/taocan/content/js/jquery-1.9.1.min.js"></script>
	<script src="~/Areas/Web/Content/taocan/content/js/taocan1.js"></script>
</body>
</html>
