@section HeadScript
{
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
}

<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li><a href="@Url.Action("index")">财务总览</a></li>
        <li><a href="@Url.Action("PendingSettlementList")">待结算列表</a></li>
        <li class="active"><a href="#" onclick="return false">已结算列表</a></li>
        <li><a href="@Url.Action("PlatAccountItem")">结余明细</a></li>
        <li><a href="@Url.Action("SetSettlementWeek","account")">结算周期设置</a></li>
    </ul>
    <div class="search-box">
        <form class="form-inline custom-inline">
            <div class="form-group">
                <label class="label-inline w75" for="">结算时间</label>
                <input id="billingStartDate" class="form-control input-ssm start_datetime" type="text" @*value="@DateTime.Now.AddYears(-1).ToString("yyyy-MM-dd")"*@>
                <label class="label-inline-line">-</label>
                <input id="billingEndDate" class="form-control input-ssm end_datetime" type="text">
            </div>
            <div class="form-group">
                <label class="label-inline w75" for="">商家名称</label>
                <input class="form-control input-ssm" type="text" id="txtShopName">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-sm" id="searchButton">搜 索</button>
            </div>
        </form>
    </div>
    <table class="table" id="list"></table>
	<div class="tabel-operate" id="operationButtons">
		<a class="btn-export" href='@Url.Action("ExportSettlementList")' onclick="ExportExecl.call(this);">导出EXCEL</a>
	</div>
</div>

@section Scripts
{
	<script>
		var settlementOrdersUrl = '@Url.Action("SettlementOrders")';

		$(".start_datetime").datetimepicker({
			language: 'zh-CN',
			format: 'yyyy-mm-dd',
			autoclose: true,
			weekStart: 1,
			minView: 2
		});
		$(".end_datetime").datetimepicker({
			language: 'zh-CN',
			format: 'yyyy-mm-dd',
			autoclose: true,
			weekStart: 1,
			minView: 2
		});

		$('.start_datetime').on('changeDate', function () {
			if ($(".end_datetime").val()) {
				if ($(".start_datetime").val() > $(".end_datetime").val()) {
					$('.end_datetime').val($(".start_datetime").val());
				}
			}

			$('.end_datetime').datetimepicker('setStartDate', $(".start_datetime").val());
		});

		$("#list").hiMallDatagrid({
			url: 'SettlementList',
			nowrap: false,
			rownumbers: true,
			NoDataMsg: '没有找到符合条件的已结算记录',
			border: false,
			fit: true,
			fitColumns: true,
			pagination: true,
			pageSize: 15,
			pagePosition: 'bottom',
			operationButtons: "#operationButtons",
			pageNumber: 1,
			columns: [[
				{ field: "shopName", title: '商家名称', width: '180' },
				{ field: "amount", title: "结算金额", width: '150', align: "center" },
				{ field: "createTime", title: "结算时间", width: '180', align: "center" },
				{ field: "cycle", title: "结算周期", align: "center" },
				{
					field: "last", title: "操作", width: '150', align: "center",
					formatter: function (v, row) {
						return '<a href="{0}?shopId={1}&detailId={2}">查看</a>'.format(settlementOrdersUrl, row.shopId, row.detailId);
					}
				}]]
		});

		$('#searchButton').click(function (e) {
			searchClose(e);
			var billingstartDate = $("#billingStartDate").val();
			var billingendDate = $("#billingEndDate").val();
			var shopName = $.trim($('#txtShopName').val());
			$("#list").hiMallDatagrid('reload', { startDate: billingstartDate, endDate: billingendDate, shopName: shopName });
		})

		function ExportExecl() {
			var billingstartDate = $("#billingStartDate").val();
			var billingendDate = $("#billingEndDate").val();
			var shopName = $.trim($('#txtShopName').val());
			var href = $(this).attr('href').split('?')[0] + '?startDate={0}&endDate={1}&shopName={2}'.format(billingstartDate, billingendDate, shopName);
			$(this).attr('href', href);
		}
	</script>
}